<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> 
    <main>
        <div class="formContainerAdd">
            <div class="crudForm">
                <form action="/products/agregarProducto" method="POST" enctype="multipart/form-data">
                    <%- include('../partials/crudEditarAgregarProducto') %>
                    <div><button type="submit">Enviar</button></div>
                </form>
            </div>
        </div>
    </main>
<%- include('../partials/footer') %> 
</body>
</html>