<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section id="product">
        <div class="product-photo">
        </div>
            <form action="" class="product-details">
            <div class="product-name">Producto</div>
            <div class="product-desc">Marca, codigo de prod, etc</div>
            <div class="star">
                <i class="fas fa-star"></i>
            </div>

            <div class="price-shipping">
                <div class="product-price">$0000,00</div>
                <div class="product-payment-shipping">
                    <div>
                        <i class="fas fa-credit-card"></i>
                        <a href="">Medios de Pago</a>
                    </div>
                    <div>
                        <i class="fas fa-truck"></i>
                        <a href="">Opciones de envío</a>
                    </div>
                </div>
            </div>

            <div class="quantity-text">Cantidad</div>
            <div class="product-quantity">    
                <button class="menos">-</button>
                <input type="number" name="" id="">
                <button class="mas">+</button>
            </div>

            <div class="product-send">
            <button type="submit">Comprar</button>
            </div>
            </form>
    </section>
    <div class="product-info">
        <h5>Descripción del producto</h5>
        <p>ALIMENTOS</p>
        <i class="fas fa-star"></i>
        <h6>$0000,00</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minima dolores saepe nihil mollitia, voluptate eaque suscipit ex veniam harum iure earum delectus, commodi esse eos id tenetur ducimus exercitationem ab? Nobis libero et earum repellendus laborum, eligendi, praesentium inventore vero modi laudantium impedit incidunt debitis, maxime omnis dignissimos reprehenderit.
        </p>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>