<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/footer.css">
  
        <title>La Guarida Pet Shop</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    </head>
</html>
<body>
    <footer>
<div class="cajafooter">
        <div class="boxfooter">
        <img src="/images/logo-footer.png">
    </div>
        <div class="boxfooter">
        <h2>Seguinos!</h2>
        <section class="inconos">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-youtube"></i>
        </section>
    </div>
        <div class="boxfooter">
        <h2>Nosotros</h2>
            <a style = "text-decoration: None" href="#">Nuestra historia</a><br>
            <a style="text-decoration:None" href="#">Eventos</a>
    
    </div>
        <div class="boxfooter">
        <h2>Tienda Online</h2>
    <a style="text-decoration:None" href="#">Formas de Entrega</a><br>
    <a style="text-decoration:None" href="#">Descuentos</a><br>
    <a style="text-decoration:None" href="#">Cambios y devoluciones</a>
    </div>
    <div class="boxfooter">
    <h2>Contacto</h2>
    <i class="fas fa-envelope"> mail@mail.com</i><br>
    <i class="fab fa-whatsapp"> +5491123456789</i>
    </div>
        <div class="boxfooter">
            <h2>Enterate de las últimas novedades!</h2>
        <form action="resultado.html" method="POST">
            <input type="e-mail" name="e-mail" size="50" placeholder="mail@mail.com">
            </form>
    </div>
    </div>
    </footer>
</body>