<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Guarida Petshop</title>
    <link rel="stylesheet" href="/css/normallize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!--Carrusel-->
    <section>
        <!-- Contenedor de slides -->
        <div class="slideshow-container">

            <!-- Artículos -->
            <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <img src="./images/borderCollieMerle.jpg" alt="Foto de Border Collie" width="100%" height="600">
            <div class="text">Border Collie</div>
            </div>
        
            <div class="fade">
            <div class="numbertext">2 / 4</div>
            <img src="./images/goldenRetriever.jpg" alt="Foto de Golden Retriever" width="100%" height="600">
            <div class="text">Golden Retriever</div>
            </div>
        
            <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img src="./images/roughCollie.jpg" alt="Foto de Rough Collie" width="100%" height="600">
            <div class="text">Rough Collie</div>
            </div>

            <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <img src="./images/ovejeroAleman.jpg" alt="Foto de Ovejero Alemán" width="100%" height="600">
            <div class="text">Ovejero Alemán</div>
            </div>
        
            <!-- Botones prev y next -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        
        <!-- dots -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </section>

    <main>
        <article>
            <img src="./images/producto1.png" alt="Producto 1" width="400px" height="300">
            <h2>Título de Producto 1</h2>
            <p>$20,00</p>
            <button>Comprar</button>
        </article>
        <article>
            <img src="./images/producto2.jfif" alt="Producto 2" width="400px" height="300">
            <h2>Título de Producto 2</h2>
            <p>$20,00</p>
            <button>Comprar</button>
        </article>
        <article>
            <img src="./images/producto3.png" alt="Producto 3" width="400px" height="300">
            <h2>Título de Producto 3</h2>
            <p>$20,00</p>
            <button>Comprar</button>
        </article>
        <article>
            <img src="./images/producto4.png" alt="Producto 4" width="400px" height="300">
            <h2>Título de Producto 4</h2>
            <p>$20,00</p>
            <button>Comprar</button>
        </article>
        <article>
            <img src="./images/producto5.png" alt="Producto 5" width="400px" height="300">
            <h2>Título de Producto 5</h2>
            <p>$20,00</p>
            <button>Comprar</button>
        </article>
    </main>
</body>
</html>