<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Guarida Petshop</title>
    <link rel="stylesheet" href="/css/normallize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- Header -->
    <!-- Carrusel -->
    <section class="carrusel">
        <article class="slide">
            <img class="oferta-img" src="/images/borderCollieMerle.jpg" alt="Imagen de oferta 1">
            <h3>Título oferta 1</h3>
        </article>
        <article>
            <img class="oferta-img" src="/images/goldenRetriever.jpg" alt="Imagen de oferta 2">
            <h3>Título oferta 2</h3>
        </article>
        <article class="slide">
            <img class="oferta-img" src="/images/ovejeroAleman.jpg" alt="Imagen de oferta 3">
            <h3>Título oferta 3</h3>
        </article>
        <article class="slide">
            <img class="oferta-img" src="/images/roughCollie.jpg" alt="Imagen de oferta 4">
            <h3>Título oferta 4</h3>
        </article>
        <!-- Flechas y dots de carrusel-->
        <div>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <a>&#10094;</a>
        <a>&#10095;</a>
    </section>
    <!-- Articulos-->
    <section class="publicaciones">
        <h1>Publicaciones destacadas</h1>
        <div class="articulos-total">
            <article class="articulo">
                <img src="/images/producto1.png" alt="Imagen Producto 1">
                <h2>Producto 1</h2>
                <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto delectus perferendis esse nam impedit similique quam necessitatibus culpa qui laudantium.</p>
                <p>$11320,00</p>
                <!-- button with input-->
                <button>Comprar</button>
            </article>
            <article class="articulo">
                <img src="/images/producto2.png" alt="Imagen Producto 2">
                <h2>Producto 2</h2>
                <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto delectus perferendis esse nam impedit similique quam necessitatibus culpa qui laudantium.</p>
                <p>$20,00</p>
                <!-- button with input-->
                <button>Comprar</button>
            </article>
            <article class="articulo">
                <img src="/images/producto3.png" alt="Imagen Producto 3">
                <h2>Producto 3</h2>
                <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto delectus perferendis esse nam impedit similique quam necessitatibus culpa qui laudantium.</p>
                <p>$1900,00</p>
                <!-- button with input-->
                <button>Comprar</button>
            </article>
            <article class="articulo">
                <img src="/images/producto4.png" alt="Imagen Producto 4">
                <h2>Producto 4</h2>
                <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto delectus perferendis esse nam impedit similique quam necessitatibus culpa qui laudantium.</p>
                <p>$215,00</p>
                <!-- button with input-->
                <button>Comprar</button>
            </article>
            <article class="articulo">
                <img src="/images/producto5.png" alt="Imagen Producto 5">
                <h2>Producto 5</h2>
                <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto delectus perferendis esse nam impedit similique quam necessitatibus culpa qui laudantium.</p>
                <p>$5,00</p>
                <!-- button with input-->
                <button>Comprar</button>
            </article>
        </div>
    </section>
    <!-- Footer -->
</body>
</html>