<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="\css\login.css">
    
</head>
<body>
<div class="contenedor">
    <div class="center">
        <h1>Iniciar Sesión</h1>
        <form action="/login" method="POST" >
        <div class="email"><input type="email" name="email" placeholder=" mail@mail.com"></div>
        <div class="contraseña"><input type="password" name="usuario" placeholder=" Contraseña"></div>
        <div class="iniciarsesion"><button type="submit">Iniciar Sesión</button></div>
        <div class="olvidastecontraseña"><a href="#">¿Olvidaste tu contraseña?</a></div>
        </form>
    </div>
</div>
</body>
</html>