<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="\css\registro.css">
    </head>

    <body>
        <div class="contenedor">
            <div class="center">
                <h1>CREAR CUENTA</h1>
                <form action="/login" method="POST" >
                <div class="email"><input type="email" name="email" placeholder=" mail@mail.com"></div>
                <div class="contraseña"><input type="password" name="usuario" placeholder=" Contraseña"></div>
                <div class="contraseñados"><input type="password" name="usuario" placeholder=" Vuelve a escribir tu contraseña"></div>
                <div class="registrarse"><button type="submit">Registrarse</button></div>
                <div class="olvidastecontraseña"><p>¿Ya tienes una cuenta?<a href="#"> Iniciar sesión</a></p></div>
                </form>
            </div>
        </div>
    </body>
</html>
