@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* All */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
h1 {
  color: #8a2be2;
  font-size: 24px;
}
body {
  display: flex;
  flex-direction: column;
}
i {
  color: #8a2be2;
}
a {
  color: #8a2be2;
}

/* Artículos */
.articulos-carrito {
  margin: 25px;
}
.articulos-carrito h1 {
  text-align: left;
  width: 100%;
}
.articulos {
  display: flex;
  flex-direction: column;
}
.articulos article {
  min-width: 100%;
  display: flex;
  height: 160px;
  margin: 5px 0px;
  border: solid 1px #8a2be2;
  border-radius: 10px;
}
.articulos article img {
  width: 95px;
  height: 95px;
  border-radius: 10px 0px 0px 10px;
  background-color: white;
  align-self: center;
}
.detalles-carrito {
  width: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.descripcion-producto p {
  margin: 5px;
  font-size: 12px;
}
.descripcion-producto h2 {
  font-size: 14px;
  margin: 5px;
  font-weight: 400;
}
.botones-cantidad {
  display: flex;
  font-size: 0.5rem;
}
.botones-cantidad input {
  width: 25px;
  text-align: center;
  font-weight: 400;
  border: solid 1px #8a2be2;
}
.minus, .plus {
  padding: 3px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #8a2be2;
  font-weight: 300;
}
.minus:hover, .plus:hover {
  background-color: #ff2870;
  color: white;
}
.minus {
  border-radius: 5px 0px 0px 5px;
}
.plus {
  border-radius: 0px 5px 5px 0px;
}
.cantidad-producto .precio {
  color: #8a2be2;
  font-weight: 500;
}
.contenedor-producto {
  border-left: solid 1px #8a2be2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.precio-cantidad {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 5px;
}
.cantidad-producto p i {
  margin: 10px 0px;
}
.boton-eliminar {
  font-size: 0.8rem;
}
.precio {
  font-size: 1rem;
}

/* Resumen */
.resumen-background {
  background-color: rgb(247, 247, 247);
  padding: 25px;
}
.resumen {
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
}
.resumen h1 {
  width: 100%;
  text-align: center;
}
.detalles-compra {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}
.cupones {
  margin: 10px 0px;
  font-size: 0.8rem;
  width: 100%;
}
.detalles-compra {
  font-size: 14px;
}
.detalles-compra .total {
  font-size: 18px;
}
.total .detalle-precio {
  font-weight: 500;
}
.total .precio {
  font-weight: 500;
}
.resumen button {
  width: 100%;
  height: 30px;
  margin: auto;
  border-radius: 50px;
  color: black;
  border: solid 1.5px #8a2be2;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
}
.resumen button:hover {
  background-color: #8a2be2; 
  color: white;
}
.total {
  font-size: 1.2em;
}
.cantidad-producto {
  margin: 10px;
}

/* Media Queries */

/* Tablets */
@media (min-width: 361px) {
  .articulos article img {
    width: 125px;
    height: 125px
  }
  .descripcion-producto p {
    margin: 5px;
    font-size: 12px;
  }
  .descripcion-producto h2 {
    font-size: 16px;
    margin: 5px;
  }
  .botones-cantidad {
    font-size: 1rem;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .all-sections {
    display: flex;
    flex-direction: row;
  }
  .articulos-carrito {
    width: 60vw;
  }
  .resumen {
    justify-content: center;
    width: 40vw;
    margin: 25px;
    padding: 20px;
  }
  .cupones {
    margin: 10px;
  }
  .resumen button {
    margin: 10px;
    width: 100%;
  }
  .articulos article img {
    width: 150px;
    height: 150px
  }
  .descripcion-producto p {
    margin: 5px;
    font-size: 14px;
  }
  .descripcion-producto h2 {
    font-size: 16px;
    margin: 5px;
  }
}