@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
  margin-top: 145px;
  margin-bottom: 70px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
th{
  color: #8a2be2;
}
th a, td a {
  text-decoration: underline;
  font-size: 12px;
  color: #8a2be2;
}
th a:hover, td a:hover {
  text-decoration: none;
}
tr:nth-child(even) {
  background-color: #eadef7;
}

.crud-table {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 1%;
}

.formContainerAdd {
  background-color: whitesmoke;
  width: 25%;
  margin: 0 auto;
  border-radius: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.formContainerEdit {
  background-color: whitesmoke;
  width: 400px;
  height: 520px;
  margin: auto;
}


td {
  font-size: 12px;
}

th {
  font-size: 12px;
}

td img {
  height: 40px;
  width: 40px;
}