@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
th{
  color: #8a2be2;
}
th a, td a {
  text-decoration: underline;
  font-size: 14px;
  color: #8a2be2;
}
th a:hover, td a:hover {
  text-decoration: none;
}
tr:nth-child(even) {
  background-color: #eadef7;
}

.crud-table {
  height: 100%;
  margin-top: -10px;
  margin-bottom: 90px ;
}

.crudForm{
  margin-top:90px;
  margin-bottom: 240px;
}

td {
  font-size: 14px;
}
td img {
  height: 40px;
  width: 40px;
}