* {
  font-family: 'Poppins';
  box-sizing: border-box
}

body {
  background-color: #efe017;
}

.publicaciones {
  color: #976e1b;
}

.articulo {
  background-color: #ddd5d1;
}

button {
  background-color: #976E1B;
  color: #ddd5d1;
  font-weight: bold;
}

.articulos-total {
  display: flex;
  justify-content: space-between;
}

.descripcion-producto {
  font-size: 0.5em;
}
h2 {
  font-size: 1rem;
}
h1 {
  font-weight: bold;
}

.slide {
  display: none;
}

/*Smartphones*/
@media (min-width: 0px){
  .oferta-img {
    width: 70rem;
    height: 40rem;
  }
  .publicaciones img {
    width: 40rem;
  }
  .articulo {
    text-align: left;
    width: 40rem;
  }
}

/*Laptops*/
@media (min-width: 700px){
  .oferta-img {
    width: 100vw;
    height: 100vh;
  }
  .publicaciones img {
    width: 20vw;
    height: 270px;
  }
  .articulo {
    font-size: 2vw;
    text-align: center;
    width: 38vw;
    padding: 10px;
    border: solid 2px #EF8B6D;
    margin: 4px 5px;
    height: fit-content(80vh);
    line-height: 3vh;
  }
}