@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* All */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
main {
  background-color: white;
  margin-top: 100px;
  font-weight: 300;
}
main h1 {
  font-weight: 300;
}
section {
  margin: 0px 25px;
}

/* Carrusel */
.banner-inactivo {
  display: none;
}
.imagenes-carrusel img{
  width: 100%;
  height: 20vh;
}
.arrows {
  color: white;
  cursor: pointer;
  display: none;
}
.arrows p:hover{
  background-color: #ff2870;
}
.arrows p {
  background-color: #8a2be2;
  border-radius: 2px;
  position: absolute;
  top: 30%;
  transition: background-color 0.6s ease;
}
.next {
  position: absolute;
  right: 0px;
}
.dots {
  display: none;
  position: absolute; 
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #8a2be2;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #ff2870;
}

/* Artículos */
.titulo-articulos {
  display: flex;
  width: 100%;
}
.titulo-articulos h1 {
  width: 60%;
  color: #8a2be2;
  font-size: 24px;
}
.articulos-arrows {
  display: none;
  justify-content: flex-end;
  width: 40%;
}
.articulos-arrows .active:hover {
  background-color: #8a2be2;
  cursor: pointer;
  color: white;
}
.articulos-arrows p:hover{
  background-color: transparent;
  cursor: default;
  color: grey;
}
.articulos-arrows .active {
  color: #8a2be2;
  border: solid 2px #8a2be2;
}
.articulos-arrows p {
  color: grey;
  border: solid 2px grey;
  border-radius: 50%;
}
.articulos {
  display: flex;
  position: relative;
  justify-content: flex-start;
  text-align: center;
  height: 55vh;
  overflow-x: scroll;
}
.articulos article {
  position: absolute;
  position: relative;
  min-width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  text-align: center;
  align-items: center;
  border: solid 1px #8a2be2;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.5s;
  background-color: white;
}
.articulos article:hover {
  box-shadow: 0px 0px 5px #8a2be2;
}
.articulos article:hover img, .articulos article:focus img {
  width: 155px;
  height: 155px;
  border: solid 1px #8a2be2;
  border-radius: 10px;
}
.articulos article img {
  border-bottom: solid 1px #8a2be2;
  width: 170px;
  height: 170px;
  align-self: center;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}
.precio {
  color: #8a2be2;
  font-weight: 500;
  margin: 10px;
  max-width: 100%;
}
.botones-compras {
  display: none;
  display: flex;
  justify-content: space-around;
}
.botones-cantidad {
  display: flex;
}
.botones-cantidad input {
  width: 25px;
  text-align: center;
  font-weight: 400;
  border: solid 1px #8a2be2;
}
.minus, .plus {
  padding: 3px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #8a2be2;
  font-weight: 300;
}
.minus:hover, .plus:hover {
  background-color: #ff2870;
  color: white;
}
.minus {
  border-radius: 5px 0px 0px 5px;
}
.plus {
  border-radius: 0px 5px 5px 0px;
}
.comprar-button {
  width: 50%;
  border-radius: 50px;
  color: black;
  border: solid 2px #8a2be2;
  background-color: white;
  font-weight: 300;
  cursor: pointer;
  font-size: 14px;
  width: 95px;
}
.comprar-button:hover {
  background-color: #8a2be2; 
  color: white;
}
.descripcion-articulo {
  display: none;
}
.descripcion-articulo {
  padding: 5px;
  color: black;
}
.detalles-producto {
  width: 100%;
  display: none;
}
article:hover .detalles-producto {
  display: revert;
}

/* Media Queries */

/* Tablets */
@media (min-width: 361px) {
  .imagenes-carrusel img{
    height: 40vh;
  }
  .arrows {
    font-size: 40px;
    display: contents;
  }
  .arrows p {
    padding: 10px 10px;
    font-size: 30px;
  }
  .dots{
    display: flex;
    top: 55%;
    left: 42%;
  }
  .articulos article {
    flex-basis: 40%;
  }
  .minus, .plus {
    padding: 4px;
  }  
  .descripcion-articulo {
    display: revert;
  }
  .articulos {
    overflow-x: scroll;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .imagenes-carrusel img{
    height: 60vh;
  }
  .arrows {
    display: contents;
    font-size: 60px;
  }
  .arrows p {
    padding: 20px 20px;
    font-size: 40px;
  }
  .dots{
    display: flex;
    top: 74%;
    left: 46%;
  }
  .articulos-arrows {
    display: flex;
    font-size: 24px;
  }
  .articulos-arrows p {
    padding: 0px 10px;
    margin: 15px;
    max-height: none;
  }
  .minus, .plus {
    padding: 5px;
  }
  .descripcion-articulo {
    display: revert;
  }
  .articulos{
    overflow: hidden;
  }
}