@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#product {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.product-conteiner {
    background-color: rgb(240, 240, 240);
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 30px;
}

.product-photo {
    width: 100%;
    height: 460px;
    margin: 0 auto;
    background-color: white;
    border: solid 1px #8a2be2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-photo-detail {
    display: flex;
    justify-content: center;
}

.product-photo-detail img {
    display: flex;
    justify-content: center;
    width: 80%;
    transition: transform .5s ease;
}

.product-photo-detail:hover img {
    transform: scale(1.5);
}

.product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}

.product-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 10px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
}

.star i{
    color: #8a2be2;
}

.product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 600;
}

.product-payment-shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    width: 80%;
    margin: 0 auto;
}

.product-payment-shipping a {
    margin-right: 20px;
    font-size: .8em;
}

.product-payment-shipping i {
    margin-right: 10px;
}

.botones-compras {
    display: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.botones-cantidad {
    display: flex;
}
.botones-cantidad input {
    width: 120px;
    text-align: center;
    font-weight: 400;
    border: solid 1px #8a2be2;
}
.minus, .plus {
    padding: 3px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #8a2be2;
    font-weight: 300;
}
.minus:hover, .plus:hover {
    background-color: #ff2870;
    color: white;
}
.minus {
    border-radius: 5px 0px 0px 5px;
}
.plus {
    border-radius: 0px 5px 5px 0px;
}

.quantity-text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product-send {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: solid 1px #8a2be2;
    width: 150px;
    height: 50px;
    margin: 30px auto;
    transition: all 450ms;
}

.product-send button {
    border: none;
    background: transparent;
    font-weight: 500;
    color:black;
    width: 100%;
    height: 100%;
}

.product-send button:hover {
    color: white;
}

.product-send:hover {
    background-color: #8a2be2;
}

.product-info {
    display: none;
}

.snippetContainer {
    margin-bottom: 10px;
}
.snippetContainer a {
    text-decoration: none;
    color: black;
}

.snippetCategory {
    cursor: pointer;
    background-color: #ead4ff;
    border-radius: 20px;
    padding: 5px;    
    font-size: 10px;
}
.snippetCategory:hover {
    background-color: #ff2870;
    color: white;
    transition: 300ms;
}

.nombreProducto {
    margin-top: 5px;
    margin-bottom: 5px;
}

.estrellitas {
    margin-top: 5px;
    margin-bottom: 5px;
}

.precioProducto {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (min-width: 768px) {

    #product {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        margin-bottom: 40px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .product-photo {
        width: 100%;
        height: 460px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .product-details {
        width: 50%;
        align-items: center;
        margin-left: 30px;
        margin-right: auto;
    }
    
    .product-name {
        margin: 0;
    }

    .product-name,
    .product-desc,
    .star,
    .quantity-text,
    .product-quantity {
        display: block;
    }

    .price-shipping {
        display: flex;
    }

    .product-payment-shipping {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 20px;
    }


    .product-quantity {
        margin-bottom: 20px;
    }

    .product-send {
        margin: 0;
    }

    .product-info {
        width: 90%;
        margin-left: 65px;
        margin-top: 60px;
        border-top: solid 1px rgb(100, 100, 100);
        border-bottom: solid 1px rgb(100, 100, 100);
        padding-top: 20px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .product-info-box {
        padding-bottom: 50px;
        margin-bottom: 100px;
    }

    .botones-compras {
        justify-content: left;
    }
}