.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.home-btn{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 5px;
    padding-right: 10px;
  }
  
  .home-btn button {
      width: 50%;
      border-radius: 50px;
      color: black;
      border: solid 2px #8a2be2;
      background-color: white;
      cursor: pointer;
      font-size: 14px;
      width: 95px;
      padding: 5px 2px;
      transition: all 0.5s ease;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .home-btn button:hover {
      background-color: #8a2be2; 
      color: white;
      pointer-events:visible;
  }
  
  .home-btn a{
    text-decoration: none;
  }


.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#7b21cf), to(#7a5a96));
    background: linear-gradient(to right, #7a5a96, #7b21cf)

}

.justify-content-center {
    width: 50%;
    margin: 0 auto;
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px;
    width: 25%;
    height: 25%;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}