body{
    margin-top: 170px;
}

.errors {
    display: flex;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    font-size: 12px;
    color: red;
    font-weight: 600;
    border: red solid 1px;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgb(255, 225, 225);
    justify-content: center;
}


.errors-conteiner {
    display: flex;
    margin: 0 auto;
    font-size: 12px;
    color: red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor{
    /* position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%); */
    margin: 50px auto 250px auto;
    display: flex;
    justify-content: center;
}
.center{
   display:flex;
   flex-direction:column;
   text-align:center;
   background-color: white;
   border: 1px solid #D3D3D3;
   width: 350px;
   height: 100%;
   border-radius: 20px;
   padding-bottom: 20px;
}
.center .form-title{
    text-align:center;
    font-size: 24px;
    color:#8a2be2;
}
.fields input{
    width:80%;
    height: 35px;
    padding-left: 5px;
    border: 1px solid #D3D3D3;
    border-radius:50px;  
    margin-bottom:5px;
}

.registrarse{
    margin-top:20px;
    margin-bottom:20px;
}
.registrarse  button{
    width:52%;
    height:40px;
    background-color: white;
    border-radius:50px;
    border: 2px solid #8a2be2;
    font-size:14px;
    transition-property: background-color, color;
    transition-duration: all 1s;
}

.crudImage {
    margin-bottom: 5px;
}

.registrarse  button:hover{
    background-color:#8a2be2;
    color:white;
}

.olvidastecontraseña {
    font-size:11px;
}
.olvidastecontraseña a{
    font-size:11px;
    text-decoration:none;
    color:#ff2870;
}
::placeholder{
    color:#ff2870;
    font-size:12px;
    padding-left: 15px;
}

