<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Guarida Petshop</title>
    <script src="https://kit.fontawesome.com/50bc258b8b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/crud.css">
    
</head>
<body>
    <nav class="header">
        <div class="logo">
            <a href="/"><img src="/images/logo-footer.png" alt="Logo"></a>
        </div>

        <div class="header-menu">

            <div class="dropdown-menu">
                <button class="dropdown-btn">ALIMENTOS</button>
                <div class="dropdown-content">
                    <a href="#">1</a>
                    <a href="#">1</a>
                    <a href="#">1</a>
                </div>
            </div>

            <div class="dropdown-menu">
                <button class="dropdown-btn">ACCESORIOS</button>
                <div class="dropdown-content">
                    <a href="#">1</a>
                    <a href="#">1</a>
                    <a href="#">1</a>
                </div>
            </div>

            <div class="dropdown-menu">
                <button class="dropdown-btn">SALUD</button>
                <div class="dropdown-content">
                    <a href="#">1</a>
                    <a href="#">1</a>
                    <a href="#">1</a>
                </div>
            </div>

            <div class="dropdown-menu">
                <button class="dropdown-btn">HIGIENE</button>
                <div class="dropdown-content">
                    <a href="#">1</a>
                    <a href="#">1</a>
                    <a href="#">1</a>
                </div>
            </div>
        </div>  

        <div class="header-search-bar">
            <input class="search-bar" type="text" name="" id="" placeholder="Buscar..">
            <button type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <div class="header-profile">
            <a href="/users/login.html">Login</a>
            <a href="/users/registro.html">Register</a>
        </div>

        <div class="header-cart">
            <a href="/product/carrito.html" class="cart-btn">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </nav>
    <main>
    <div class="crudForm">
        <form action="/crudForm" method="POST" >
        <div class="crudName"><input type="text" name="crudName" placeholder="Nombre producto"></div>
        <div class="crudDescription"><input type="text" name="crudDescription" placeholder="Descripción producto"></div>
        <div class="crudImage"><input type="image" name="crudImage" placeholder=""></div>
        <div class="crudCategory"><input type="text" name="crudCategory" placeholder="Categoría"></div>
        <div class="crudPrice"><input type="text" name="crudPrice" placeholder="Precio"></div>
        <div><input type="submit"></div>

        </form>
</div>
</main>
<footer class="footer">
  <div class="conteiner">
      <div class="row">
          <div class="footer-col-logo">
              <img  src="/images/logo-footer-bco.png">
          </div>
          <div class="footer-col">
              <h4>Seguinos!</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-facebook-square"></i></a>
                  <a href="#"><i class="fab fa-twitter-square"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
          </div>
          <div class="footer-col">
              <h4>Nosotros</h4>
              <ul>
                  <li><a href="#">Nuestra historia</a></li>
                  <li><a href="#">Eventos</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Tienda Online</h4>
              <ul>
                  <li><a href="#">Formas de Entrega</a></li>
                  <li><a href="#">Descuentos</a></li>
                  <li><a href="#">Cambios/devoluciones</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Contacto</h4>
              <ul>
                  <li><i class="fas fa-envelope"></i><a href="#">mail@mail.com</a></li>
                  <li><i class="fab fa-whatsapp"></i><a href="#">+5491123456789</a></li>
              </ul>
          </div>
          <div class="footer-col-barra">
              <h4>Enterate de las últimas novedades!</h4>
              <form action="resultado.html" method="POST" class="barra"> 
              <input type="e-mail" name="e-mail" placeholder="  mail@mail.com">
              </form>
          </div>
      </div>

  </div>
</footer>  

</body>
</html>