<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
    <table>
        <tr>
          <th>Nombre de producto</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Imagen</th>
          <th class="columnPrueba" colspan="2"><a href="/product/agregarItem">Agregar Item</a></th>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>LoremIpsum.jpg</td>
          <td><a href="/product/editarProducto">Editar</a ></td>
          <td><a href="">Borrar</a ></td>
        </tr>
        <tr>
        <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>LoremIpsum.jpg</td>
          <td><a href="/product/editarProducto">Editar</a ></td>
          <td><a href="">Borrar</a></td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>LoremIpsum.jpg</td>
            <td><a href="/product/editarProducto">Editar</a></td>
            <td><a href="">Borrar</a ></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>LoremIpsum.jpg</td>
            <td><a href="/product/editarProducto">Editar</a ></td>
            <td><a href="">Borrar</a ></td>
          </tr>    
      </table>  
    </main>
    <%- include('./partials/footer') %>
</body>
</html>