<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <main>
    <div class="crudForm">
        <form action="/editarProducto" method="POST" >
        <div class="crudName"><input type="text" name="crudName" placeholder="Nombre producto"></div>
        <div class="crudDescription"><input type="text" name="crudDescription" placeholder="Descripción producto"></div>
        <div class="crudCategory"><input type="text" name="crudCategory" placeholder="Categoría"></div>
        <div class="crudPrice"><input type="text" name="crudPrice" placeholder="Precio"></div>
        <div class="crudImage">
            <input type="file" name="imagenProducto" id="imagenProducto" accept=".jpg,.png">
            <label for="imagenProducto">Seleccionar Imagen&nbsp;<i class="far fa-images"></i>
            </label>
        </div>
        <div><button type="button">Guardar</button></div>
        </form>
</div>
</main>
<%- include('./partials/footer') %> 
</body>
</html>