<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <div class="crudName"><input type="text" name="name" placeholder="Nombre producto"></div>
        <div class="crudDescription"><input type="text" name="description" placeholder="Descripción producto"></div>
        <div class="crudCategory"><input type="text" name="category" placeholder="Categoría"></div>
        <div class="crudPrice"><input type="text" name="price" placeholder="Precio"></div>
        <div class="crudImage">
            <input type="file" name="image" id="image" accept=".jpg,.png">
            <label for="imagenProducto">Seleccionar Imagen&nbsp;<i class="far fa-images"></i>
            </label>
        </div>
    </div>
</body>
</html>