<footer class="footer">
    <div class="conteiner-footer">


        <div class="div-footer">
            <span>Copyright &copy; La Guarida 2021</span>
        </div>

        
        <div class="div-footer">
            <img src="/images/logo-footer-bco.png" alt="Logo">
        </div>


        <div class="div-footer-social">
            <span style="display: flex; justify-content: center">Seguinos!</span>
            <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>


    </div>
</footer>