<footer class="footer">
    <div class="conteiner">
        <div class="row">
            <div class="footer-col-logo">
                <img  src="/images/logo-footer-bco.png">
            </div>
            <div class="footer-col">
                <h4>Seguinos!</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Nosotros</h4>
                <ul>
                    <li><a href="#">Nuestra historia</a></li>
                    <li><a href="#">Eventos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Tienda Online</h4>
                <ul>
                    <li><a href="#">Formas de Entrega</a></li>
                    <li><a href="#">Descuentos</a></li>
                    <li><a href="#">Cambios/devoluciones</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contacto</h4>
                <ul>
                    <li><i class="fas fa-envelope"></i><a href="#">mail@mail.com</a></li>
                    <li><i class="fab fa-whatsapp"></i><a href="#">+5491123456789</a></li>
                </ul>
            </div>
            <div class="footer-col-barra">
                <h4>Enterate de las últimas novedades!</h4>
                <form action="resultado.html" method="POST" class="barra"> 
                <input type="e-mail" name="e-mail" placeholder="  mail@mail.com">
                </form>
            </div>
        </div>

    </div>
</footer>