<% if(!locals.isLogged) { %> 
    <header>
        <div>
            <nav class="header">
            <div>
                <div class="header-top">
                    <div class="header-logo">
                        <a href="/"><img src="/images/logo-footer.png" alt=""></a>
                    </div>
                    <div class="header-sb-cart">
                        <div class="header-search-bar">
                            <input class="search-bar" type="text" name="" id="" placeholder="Buscar..">
                            <button type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="header-cart">
                            <a href="products/carrito" class="cart-btn">
                                <i class="fas fa-shopping-cart"></i>
                            </a>        
                        </div>
                    </div>    
                </div>
                <div class="header-bottom">
                    <div class="header-categories">
                        <ul>
                            <a href="/nosotros"><li>NOSOTROS</li></a>
                            <div class="dropdown">
                                <button class="dropbtn">PRODUCTOS</button>
                                <div class="dropdown-content">
                                    <a class="dropdown-a" href="/products/categories/snacks"><li>SNACKS</li></a>
                                    <a class="dropdown-a" href="/products/categories/accesorios"><li>ACCESORIOS</li></a>
                                    <a class="dropdown-a" href="/products/categories/alimentos"><li>ALIMENTOS</li></a>
                                    <a class="dropdown-a" href="/products/categories/juguetes"><li>JUGUETES</li></a>
                                    <a class="dropdown-a" href="/products/categories/higiene"><li>HIGIENE</li></a>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="header-profile">
                        <a href="/users/registro">Creá tu cuenta</a>
                        <a href="/users/login">Ingresar</a>
                        <a href="/products/crud">Admin</a>
                    </div>
                </div> 
            </div>          
            </nav>
        </div>
    </header>
<% } else { %>   
    <header>
        <div>
            <nav class="header">
            <div>
                <div class="header-top">
                    <div class="header-logo">
                        <a href="/"><img src="/images/logo-footer.png" alt=""></a>
                    </div>
                    <div class="header-sb-cart">
                        <div class="header-search-bar">
                            <input class="search-bar" type="text" name="" id="" placeholder="Buscar..">
                            <button type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="header-cart">
                            <a href="products/carrito" class="cart-btn">
                                <i class="fas fa-shopping-cart"></i>
                            </a>        
                        </div>
                    </div>    
                </div>
                <div class="header-bottom">
                    <div class="header-categories">
                        <ul>
                            <a href="/products/categories/snacks"><li>SNACKS</li></a>
                            <a href="/products/categories/accesorios"><li>ACCESORIOS</li></a>
                            <a href="/products/categories/alimentos"><li>ALIMENTOS</li></a>
                            <a href="/products/categories/juguetes"><li>JUGUETES</li></a>
                            <a href="/products/categories/higiene"><li>HIGIENE</li></a>
                        </ul>
                    </div>
                    <div class="header-profile">
                        <a href="/users/profile"><%= locals.loggedUser.name %> Profile</a>
                        <a href="/logout">Log Out</a>
                        <a href="/products/crud">Admin</a>
                    </div>
                </div> 
            </div>          
            </nav>
        </div>
    </header>
<% } %> 