<main>
    <div class="carrusel">
        <div class="imagenes-carrusel">
            <img src="/images/banner.jpg" alt="Imagen banner">
            <img class="banner-inactivo" src="/images/goldenRetriever.jpg" alt="Imagen Golder">
            <img class="banner-inactivo" src="/images/ovejeroAleman.jpg" alt="Imagen Ovejero Alemán">
            <img class="banner-inactivo" src="/images/borderCollieMerle.jpg" alt="Imagen Border Collie">
            <img class="banner-inactivo" src="/images/roughCollie.jpg" alt="Imagen Rough Collie">
        </div>
        <div class="arrows">
            <p class="prev">&lt;</p>
            <p class="next">&gt;</p>
        </div>
        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <section class="articulos-destacados">
        <div class="titulo-articulos">
            <h1>Publicaciones destacadas</h1>
            <div class="articulos-arrows">
                <p class="button-articulos">&lt;</p>
                <p class="button-articulos active">&gt;</p>
            </div>
        </div>
        <div class="articulos">
            <article>
                <a href="/products/detalle"><img src="/images/producto1.png" alt="Imagen Producto 1"></a>
                <p class="precio">$11320,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 1</p>
                </div>
            </article>
            <article>
                <a href="/products/detalle"><img src="/images/producto2.png" alt="Imagen Producto 2"></a>
                <p class="precio">$20,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 2</p>
                </div>
            </article>
            <article>
                <a href="/products/detalle"><img src="/images/producto3.png" alt="Imagen Producto 3"></a>
                <p class="precio">$1900,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 3</p>
                </div>
            </article>
            <article>
                <a href="/products/detalle"><img src="/images/producto4.png" alt="Imagen Producto 4"></a>
                <p class="precio">$215,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 4</p>
                </div>
            </article>
            <article>
                <a href="/products/detalle"><img src="/images/producto5.png" alt="Imagen Producto 5"></a>
                <p class="precio">$5,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 5</p>
                </div>
            </article>
        </div>
    </section>
    <section class="articulos-ofertas">
        <div class="titulo-articulos">
            <h1>Ofertas imperdibles!</h1>
            <div class="articulos-arrows">
                <div class="articulos-arrows">
                    <p class="button-articulos">&lt;</p>
                    <p class="button-articulos active">&gt;</p>
                </div>
            </div>
        </div>
        <div class="articulos">
            <article>
                <a href="/products/detalle"><img src="/images/producto1.png" alt="Imagen Producto 1"></a>
                <p class="precio">$11320,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 1</p>
                </div>
            </article>
            <article>
                <a href="/products/detalle"><img src="/images/producto2.png" alt="Imagen Producto 2"></a>
                <p class="precio">$20,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 2</p>
                </div>
            </article>
            <article>
                <a href="/products/detalle"><img src="/images/producto3.png" alt="Imagen Producto 3"></a>
                <p class="precio">$1900,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 3</p>
                </div>
            </article>
            <article>
                <a href="/products/detalle"><img src="/images/producto4.png" alt="Imagen Producto 4"></a>
                <p class="precio">$215,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 4</p>
                </div>
            </article>
            <article>
                <a href="/products/detalle"><img src="/images/producto5.png" alt="Imagen Producto 5"></a>
                <p class="precio">$5,00</p>
                <div class="detalles-producto">
                    <div class="botones-compras">
                        <div class="botones-cantidad">
                            <button class="minus">-</button>
                            <input type="text" value="0" readonly="readonly">
                            <button class="plus">+</button>
                        </div>
                        <a href="/products/carrito"><button class="comprar-button">Comprar</button></a>
                    </div>
                    <p class="descripcion-articulo">Producto 5</p>
                </div>
            </article>
        </div>
    </section>
</main>